

<div>

  <mat-form-field>
    <input matInput placeholder="Rows"  [(ngModel)]="rowCount">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cols" [(ngModel)]="columnCount">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="start()">CREATE</button>
  <button mat-raised-button color="primary" (click)="toggle()">
    <span *ngIf="gameRunning">PAUSE</span>
    <span *ngIf="!gameRunning">RUN</span>
  </button>
  <button mat-raised-button color="primary" (click)="stop()">RESET</button>

</div>

<div class="grid">
 <div class="row" *ngFor="let row of matrix; let i = index">
   <div class="col" *ngFor="let col of row, let j = index">
    <div class="cell" [class.live]="col === cellState.LIVE" (click)="onCellClick(i,j)">

    </div>
   </div>
 </div>
</div>

<mat-progress-bar *ngIf="gameRunning" color="accent" mode="buffer"></mat-progress-bar>
